.card-content {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 40px auto;
  width: 300px;
}

.card-content span {
  display: inline-block;
}

.card-content p {
  margin: 0 10px;
  word-break: break-all;
}

.container-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.container-cards button {
  width: 140px;
}
