.card-content {
  align-items: center;
  background-color: #036b52;
  border: 1px solid black;
  border-radius: 5px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-bottom: 20px;
  width: 300px;
}

.card-content span {
  display: inline-block;
}

.card-content p {
  margin: 0 10px;
  word-break: break-all;
}

.container-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.container-cards button {
  margin-top: 7px;
  width: 140px;
}

.card-image {
  height: 200px;
  width: 200px;
}
